.topbar {
    background: var(--color-topbar);
    padding: 0.5rem;
    box-shadow: 0 0 0.8rem -0.4rem var(--color-shadow-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar .menu {
    display: none;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: none;
    background: none;
    border: none;
    border-radius: 5rem;
    padding: 0.8rem 1.6rem;
    margin: 0 0.2rem;
    vertical-align: middle;
    transition: background-color 0.2s linear;
}

.topbar .menu:hover {
    background: var(--color-topbar-menu-hover);
}

.topbar figure {
    display: inline-block;
    vertical-align: middle;
    height: 6rem;
}

.topbar figure img {
    max-height: 100%;
    width: auto;
    vertical-align: middle;
}

.topbar .account-menu {
    position: relative;
}

.topbar .account-menu-toggle {
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    padding: 0.5rem;
    margin: 0;
    color: var(--color-topbar-user);
    border-radius: 5rem;
    transition: background-color 0.2s linear;
}

.topbar .account-menu-toggle:hover,
.topbar .account-menu-toggle.open {
    background: var(--color-alternate-item-background);
}

.topbar .account-menu ul {
    position: absolute;
    right: 0.5rem;
    top: 5rem;
    z-index: 10;
    white-space: nowrap;
    background: var(--color-topbar);
    box-shadow: 0.2rem 0.2rem 0.8rem -0.4rem var(--color-shadow-dark);
}

.topbar .account-menu li:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
}

.topbar .account-menu li:hover:not(.user) {
    background:rgba(255, 255, 255, 0.2);
}

.topbar .account-menu .user {
    padding: 1rem 2rem;
    cursor: default;
}

.topbar .account-menu ul a,
.topbar .account-menu ul button {
    background: none;
    border: 0;
    padding: 1rem 2rem;
    display: inline-block;
    width: 100%;
    text-align: left;
    text-decoration: none;
}

.wrapper {
    /* Restamos el alto del topbar acorde al elemento de mayor altura
    y sumamos el padding vertical para calzar con la pantalla de manera perfecta */
    height: calc(100% - 7rem);
}

.wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.sidenav {
    float: left;
    width: 25rem;
    height: 100%;
    background: var(--color-sidenav);
    color: var(--color-sidenav-text);
    overflow: auto;
    box-shadow: 0.1rem 0.1rem 0.3rem 0 var(--color-shadow-dark);
}

.sidenav .category {
    font-size: 2.2rem;
    padding: 1.5rem 1rem;
    font-weight: 300;
    background: var(--color-sidenav-category);
}

.sidenav .menu li {
    font-size: 1.6rem;
    font-weight: 300;
    transition: background-color 0.1s linear;
}

.sidenav .menu li:hover,
.sidenav .menu li.active {
    background: var(--color-sidenav-active);
    border-right: 0.4rem solid var(--color-main)
}

.sidenav .menu a {
    text-decoration: none;
    display: block;
    padding: 1.2rem;
}

.sidenav .menu a::before {
    /* Caracter: ◆ */
    content: '\25C6';
    font-size: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.sidenav .menu a span {
    vertical-align: middle;
}

main {
    float: left;
    width: calc(100% - 25rem);
    height: 100%;
    overflow: auto;
    padding: 2rem;
}

@media screen and (max-width: 1024px) {

    /* Recalculamos en pantallas móviles ya que cambian los elementos
    que mostramos en el topbar */
    .wrapper {
        height: calc(100% - 5.4rem);
        position: relative;
    }

    .topbar .menu {
        display: inline-block;
    }

    .topbar figure {
        height: 3rem;
        margin-left: 0.5rem;
    }

    /* En el diseño móvil el menú lateral se vuelve desplegable para dar 
    campo al contenido principal debido al espacio menor en pantalla */
    .sidenav {
        position: absolute;
        top: 0;
        left: -80%;
        z-index: 90;
        width: 80%;
        max-width: 25rem;
        transition: left 0.6s ease-in;
    }

    .sidenav.open {
        left: 0;
        transition: left 0.6s ease-out;
    }

    main {
        width: 100%;
    }
}