.row::after {
   content: '';
   display: block;
   clear: both;
}

.col {
   box-sizing: border-box;
   float: left;
}

.col.col-1 {
   width: 100%;
}

.col.col-2 {
   width: 50%;
}

.col.col-3 {
   width: 33.33%;
}

.col.col-4 {
   width: 25%;
}

.col.col-5 {
   width: 20%;
}

.col.col-6 {
   width: 16.66%;
}

.col.col-7 {
   width: 14.28%
}

.col.col-8 {
   width: 12.5%;
}

.col.col-9 {
   width: 11.11%;
}

.col.col-10 {
   width: 10%;
}

.col.space {
   padding: 1rem;
}

.col.space:first-child {
   padding-left: 0;
}

.col.space:last-child {
   padding-right: 0;
}

@media screen and (max-width: 1024px) {
   /* Se extienden todas las columnas al 100% en el diseño móvil
   para mantener una buena experiencia de usuario */
   .col.col-1,
   .col.col-2,
   .col.col-3,
   .col.col-4,
   .col.col-5,
   .col.col-6,
   .col.col-7,
   .col.col-8,
   .col.col-9,
   .col.col-10 {
      width: 100%;
   }

   .col.space {
      padding: 1rem 0;
   }
}