@import 'theme.css';
@import 'reset.css';
@import 'grid.css';
@import 'panel.css';
@import 'form.css';
@import 'button.css';
@import 'modal.css';
@import 'table.css';

/* STRUCTURE */
html {
    font-size: 10px;
    height: 100%;
}

body {
    font-size: 1.4rem;
    height: 100%;
    overflow: hidden;
    background: var(--color-background);
    font-family: var(--font-main);
    color: var(--color-text);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

/* LAYOUT */
.navbar {
    background: var(--color-navbar);
    padding: 0.5rem;
    box-shadow: 0px 0px 8px -4px var(--color-shadow-dark);
}

.navbar .menu {
    display: none;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 0.2rem;
    padding: 0.8rem 1.6rem;
    border-radius: 5rem;
    border: none;
    background: none;
    transition: background-color 0.2s linear;
    font-family: none;
}

.navbar .menu:hover{
    background: rgba(0, 0, 0, 0.1);
}

.navbar figure {
    height: 6rem;
    display: inline-block;
}

.navbar figure img {
    max-height: 100%;
    width: auto;
}

.wrapper {
    /* 
    Restamos el alto del navbar acorde al elemento de mayor altura
    para calzar con la pantalla de manera perfecta 
    */
    height: calc(100% - 7rem);
}

.wrapper::after {
    content: '';
    clear: both;
    display: block;
}

.sidenav {
    float: left;
    width: 25rem;
    height: 100%;
    background: var(--color-sidenav);
    color: var(--color-sidenav-text);
    overflow: auto;
    box-shadow: 0.1rem 0.1rem 0.3rem 0 var(--color-shadow-dark);
    scrollbar-color: var(--color-scrollbar-dark) var(--color-scrollbar-dark);
    scrollbar-width: thin;
}

.sidenav::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-dark);
}

.sidenav::-webkit-scrollbar {
    width: 0.7rem;
    background: var(--color-scrollbar-dark);
}

.sidenav .category {
    font-size: 2.2rem;
    padding: 1.5rem 1rem;
    margin: 0;
    font-weight: 300;
    background: var(--color-sidenav-category);
}

.sidenav .menu li {
    font-size: 1.6rem;
    font-weight: 300;
    transition: background-color 0.1s linear;
}

.sidenav .menu li:hover, .sidenav .menu li.active {
    border-right: 0.4rem solid var(--color-main);
    background: var(--color-sidenav-active);
}

.sidenav .menu a {
    text-decoration: none;
    display: block;
    padding: 1.2rem;
}

.sidenav .menu a::before {
    content: '\25C6';
    font-size: 1rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.sidenav .menu a span {
    vertical-align: middle;
}

main {
    float: left;
    width: calc(100% - 25rem);
    height: 100%;
    padding: 2rem;
    overflow: auto;
    scrollbar-color: var(--color-scrollbar-light) var(--color-scrollbar-light);
    scrollbar-width: thin;
}

main::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-light);
}

main::-webkit-scrollbar {
    width: 0.7rem;
    background: var(--color-scrollbar-light);
}


@media screen and (max-width: 1024px) {
    .wrapper {
        /*
        Recalculamos en pantallas móviles ya que cambia el elemento
        que mostramos en el navbar
        */
        height: calc(100% - 5.2rem);
        position: relative;
    }

    .navbar .menu {
        display: inline-block;
    }

    .navbar figure {
        display: none;
    }

    .sidenav {
        position: absolute;
        z-index: 90;
        top: 0;
        width: 80%;
        max-width: 25rem;
        left: -80%;
        transition: left 0.6s ease-in;
    }

    .sidenav.open {
        left: 0;
        transition: left 0.6s ease-out;
    }

    .sidenav .category.main {
        position: relative;
    }

    .sidenav .category.main::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0.5rem;
        width: 4.5rem;
        height: 100%;
        background: url(/assets/img/code-minds.png) no-repeat center center;
        background-size: 100% auto;
    }

    main {
        width: 100%;
    }
}