:host {
    display: flex;
    align-items: stretch;
    margin-bottom: 1rem;
}

:host.flat {
    margin-bottom: 0;
}

:host.flat .panel {
    border: 0;
    box-shadow: none;
}

:host.slim .panel {
    padding: 0;
}

.panel {
    flex-grow: 1;
    box-shadow: 1px 1px 0 0 var(--color-shadow-light);
    border-radius: 2px;
    padding: 1rem;
    border: 1px solid var(--color-panel-border);
}

.title{
    border-bottom: 1px solid var(--color-panel-border);
    margin-bottom: 1rem;
    font-size: 2rem;
}

.title.toggle {
    cursor: pointer;
}

.title.toggle::after {
    content: '\025B8';
}

.title.toggle.open::after {
    content: '\025BE';
}

.toggle-section {
    height: 0;
    overflow: hidden;
}