.panel {
    margin: 1rem 0;
    box-shadow: 1px 1px 0 0 var(--color-shadow-light);
    border-radius: 2px;
    padding: 1rem;
    border: 1px solid var(--color-panel-border);
}

.panel.flat {
    padding: 0;
}

.panel:first-child {
    margin-top: 0;
}

.panel:last-child {
    margin-bottom: 0;
}

.title{
    border-bottom: 1px solid var(--color-panel-border);
    margin-bottom: 1rem;
    font-size: 2rem;
}

.title.toggle {
    cursor: pointer;
}

.title.toggle::after {
    content: '\025B8';
}

.title.toggle.open::after {
    content: '\025BE';
}

.toggle-section {
    display: none;
}

.toggle-section.open {
    display: block;
}