@import url('/assets/css/theme.css');
@import url('/assets/css/reset.css');
@import url('/assets/css/grid.css');
@import url('/assets/css/panel.css');
@import url('/assets/css/modal.css');
@import url('/assets/css/form.css');
@import url('/assets/css/button.css');
@import url('/assets/css/table.css');



/* STRUCTURE */
html {
   font-size: 10px;
   height: 100%;
}

body {
   font-size: 1.4rem;
   font-family: var(--font-main);
   background: var(--color-background);
   color: var(--color-text);
   height: 100%;
   overflow: hidden;
}

h1 {
   font-size: 4rem;
   font-weight: 700;
   margin-bottom: 1rem;
}

h2 {
   font-size: 3.3rem;
   font-weight: 700;
   margin-bottom: 0.8rem;
}

/* LAYOUT */
.navbar {
   background: var(--color-navbar);
   padding: 0.5rem;
   box-shadow: 0 0 0.8rem -0.4rem var(--color-shadow-dark);
}

.navbar .menu {
   display: none;
   font-size: 2.5rem;
   font-weight: 500;
   font-family: none;
   margin: 0 0.2rem;
   padding: 0.8rem 1.6rem;
   border-radius: 5rem;
   border: none;
   background: none;
   transition: background-color 0.2s linear;
}

.navbar .menu:hover {
   background: var(--color-navbar-menu-hover);
}

.navbar figure {
   height: 6rem;
   display: inline-block;
}

.navbar figure img {
   max-height: 100%;
   width: auto;
}

.wrapper {
   height: calc(100% - 7rem);
}

.wrapper::after {
   content: '';
   display: block;
   clear: both;
}

.sidenav {
   float: left;
   width: 25rem;
   background: var(--color-sidenav);
   color: var(--color-sidenav-text);
   height: 100%;
   box-shadow: 0.1rem 0.1rem 0.3rem 0 var(--color-shadow-dark);
   overflow: auto;

   scrollbar-color: var(--color-scrollbar-dark) var(--color-scrollbar-dark);
   scrollbar-width: auto;
}

.sidenav::-webkit-scrollbar-thumb {
   background: var(--color-scrollbar-dark);
}

.sidenav::-webkit-scrollbar {
   width: 0.7rem;
   background: var(--color-scrollbar-dark);
}

.sidenav .category {
   font-size: 2.2rem;
   padding: 1.5rem 1rem;
   font-weight: 300;
   background: var(--color-sidenav-category);
}

.sidenav .menu li {
   font-size: 1.6rem;
   font-weight: 300;
   transition: background-color 0.1s linear;
}

.sidenav .menu a {
   text-decoration: none;
   padding: 1.2rem;
   display: block;
}

.sidenav .menu a::before {
   content: '\25C6';
   font-size: 1rem;
   margin-right: 0.5rem;
   vertical-align: middle;
}

.sidenav .menu a span {
   vertical-align: middle;
}

.sidenav .menu li:hover,
.sidenav .menu li.active {
   border-right: 0.4rem solid var( --color-main);
   background: var(--color-sidenav-active);
}

main {
   float: left;
   width: calc(100% - 25rem);
   height: 100%;
   overflow: auto;
   padding: 2rem;

   scrollbar-color: var(--color-scrollbar-light) var(--color-scrollbar-light);
   scrollbar-width: auto;
}

main::-webkit-scrollbar-thumb {
   background: var(--color-scrollbar-light)
}

main::-webkit-scrollbar {
   width: 0.7rem;
   background: var(--color-scrollbar-light);
}

@media screen and (max-width: 1024px) {
   .wrapper {
      height: calc(100% - 5.4rem);
      position: relative;
   }

   .navbar .menu {
      display: inline-block;
   }

   .navbar figure {
      display: none;
   }

   .sidenav {
      position: absolute;
      z-index: 90;
      top: 0;
      width: 80%;
      max-width: 25rem;
      left: -80%;
      transition: left 0.6s ease-in;
   }

   .sidenav.open {
      left: 0;
      transition: left 0.6s ease-out;
   }

   .sidenav .category {
      position: relative;
   }

   .sidenav .category::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 4.5rem;
      top: 0;
      right: 0.5rem;
      background: url(/assets/img/code-minds.png) no-repeat center center;
      background-size: 100% auto;
   }

   main {
      width: 100%;
   }
}