.form-field {
    padding: 0.7rem;
}

::placeholder{
    color: var(--color-placeholder);
    font-size: inherit;
}

label {
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

/* TODO: Remover select cuando se haga el custom dropdown */
input:not([type="radio"]):not([type="checkbox"]), textarea, select {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    height: 2.8rem;
    font-size: inherit;
    background: rgba(255, 255, 255, 0.2);
    color: inherit;
    border: solid 0.1rem var(--color-form-field-input);
    border-radius: 0.2rem;
    outline: 0;
}

/* TODO: Remover cuando se haga el custom dropdown */
select option {
    background: var(--color-form-field-select);
}

/* TODO: Remover select cuando se haga el custom dropdown */
input:not([type="radio"]):not([type="checkbox"]):focus, textarea:focus, select:focus {
    border-color: var(--color-form-field-focus);
}

textarea {
    min-height: 15rem;
    resize: none;
}

textarea.resizable {
    resize: vertical;
}

.check-container {
    margin-bottom: 0.5rem;
}

.check-container:last-child {
    margin-bottom: 0;
}

.check-container.inline {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0;
}

.check {
    display: inline-block;
    margin-bottom: 0;
}

.check span {
    vertical-align: text-bottom;
}

.check i {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: solid 0.1rem #ccc;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.2rem;
    margin-right: 0.4rem;
    vertical-align: middle;
}

.check :checked + i {
    background-color: var(--color-main);
}

.check input {
    display: none;
}

@media screen and (max-width: 1024px) {
    .check-container.inline {
        display: block;
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .check-container.inline:last-child {
        margin-bottom: 0;
    }
}