.button {
   display: inline-block;
   padding: 0.6rem 1.4rem;
   font-size: 1.3rem;
   line-height: 1.3;
   background: rgba(255, 255, 255, 0.3);
   color: inherit;
   border: 0.1rem solid var(--color-border);
   border-radius: 0.2rem;
   text-decoration: none;
   text-align: center;
   transition: background-color 0.1s linear;
}

.button:hover:not(:disabled) {
   background: rgba(255, 255, 255, 0.6);
}

.button:not(:last-child) {
   margin-right: 0.5rem;
}

.button.right {
   margin-right: 0;
}

.button.right:not(:first-child) {
   margin-left: 0.5rem;
}

.button.success {
   background: var(--color-success-primary);
   border-color: var(--color-success-secondary);
   color: #fff;
}

.button.success:hover:not(:disabled) {
   background: var(--color-success-tertiary);
}

.button.danger {
   background: var(--color-danger-primary);
   border-color: var(--color-danger-secondary);
   color: #fff;
}

.button.danger:hover:not(:disabled) {
   background: var(--color-danger-tertiary);
}

.button.neutral {
   background: var(--color-neutral-primary);
   border-color: var(--color-neutral-secondary);
   color: #fff;
}

.button.neutral:hover:not(:disabled) {
   background: var(--color-neutral-tertiary);
}

.button:disabled {
   cursor: not-allowed;
   filter: grayscale(70%);
}

@media screen and (max-width: 768px) {
   .button {
      padding: 0.7rem 1.4rem;
      width: calc(50% - 0.25rem);
      min-width: min(15rem, 100%);
      margin-bottom: 0.5rem;
   }
}