.row {
    display: flex;
    flex-wrap: wrap;
}

.row.right {
    flex-direction: row-reverse;
}

.row > * {
    box-sizing: border-box;
}

.row > .col-1 {
    flex-basis: 100%;
}

.row > .col-2 {
    flex-basis: 50%;
}

.row > .col-3 {
    flex-basis: 33.33%;
}

.row > .col-4 {
    flex-basis: 25%;
}

.row > .col-5 {
    flex-basis: 20%;
}

.row > .col-6 {
    flex-basis: 16.66%;
}

.row > .col-7 {
    flex-basis: 14.28%;
}

.row > .col-8 {
    flex-basis: 12.5%;
}

.row > .col-9 {
    flex-basis: 11.11%;
}

.row > .col-10 {
    flex-basis: 10%;
}

.space-x {
    padding-left: 1rem;
    padding-right: 1rem;
}

.space-y {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.space-x:first-child {
    padding-left: 0;
}

.space-x:last-child {
    padding-right: 0;
}

@media screen and (max-width: 1024px) {
    .row > .col-1, .row > .col-2, .row > .col-3, .row > .col-4, .row > .col-5,
    .row > .col-6, .row > .col-7, .row > .col-8, .row > .col-9, .row > .col-10 {
        flex-basis: 100%;
    }

    .space-x, .space-x:last-child {
        padding: 1rem 0 0;
    }

    .space-x:first-child {
        padding: 0 0 1rem;
    }
}