.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    box-sizing: border-box;
}

.col.col-1 {
    flex-basis: 100%;
}

.col.col-2 {
    flex-basis: 50%;
}

.col.col-3 {
    flex-basis: 33.33%;
}

.col.col-4 {
    flex-basis: 25%;
}

.col.col-5 {
    flex-basis: 20%;
}

.col.col-6 {
    flex-basis: 16.66%;
}

.col.col-7 {
    flex-basis: 14.28%;
}

.col.col-8 {
    flex-basis: 12.5%;
}

.col.col-9 {
    flex-basis: 11.11%;
}

.col.col-10 {
    flex-basis: 10%;
}

.col.space-x {
    padding-left: 1rem;
    padding-right: 1rem;
}

.col.space-y {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.col.space-x:first-child {
    padding-left: 0;
}

.col.space-x:last-child {
    padding-right: 0;
}

@media screen and (max-width: 1024px) {
    .col.col-1, .col.col-2, .col.col-3, .col.col-4, .col.col-5,
    .col.col-6, .col.col-7, .col.col-8, .col.col-9, .col.col-10 {
        flex-basis: 100%;
    }

    .col.space-x, .col.space-x:last-child {
        padding: 1rem 0 0;
    }

    .col.space-x:first-child {
        padding: 0 0 1rem;
    }
}