@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
    /* LAYOUT */
    --font-main: 'Roboto', Helvetica, sans-serif;
    --color-navbar: #e8e8e8;
    --color-navbar-user: #2e2e2e;
    --color-sidenav: #292929;
    --color-sidenav-text: #fff;
    --color-sidenav-category: #313131;
    --color-sidenav-active: #4d4d4d;

    /* MAIN COLORS */
    --color-main: #5ccdcc;
    --color-background: #f1f1f1;
    --color-border: #d8d8d8;
    --color-text: #292929;
    --color-alternate-item-background:#d6d6d6;
    --color-shadow-dark: #1d1d1d;
    --color-shadow-light: #adadad;
    --color-scrollbar-dark: rgba(255,255,255,0.1);
    --color-scrollbar-light: rgba(0,0,0,0.1);

    /* FORM COLORS */
    --color-placeholder: #adadad;
    --color-form-field-input: #ccc;
    --color-form-field-focus: #a7a7a7;

    /* ALERT COLORS */
    --color-info-primary: #4c61a8;
    --color-info-secondary: #364575;
    --color-info-tertiary: #435796;
    --color-success-primary: #4ca8a7;
    --color-success-secondary: #307676;
    --color-success-tertiary: #428d8c;
    --color-warning-primary: #d19f5d;
    --color-warning-secondary: #995c0b;
    --color-warning-tertiary: #cc8324;
    --color-danger-primary: #b6446a;
    --color-danger-secondary: #75243f;
    --color-danger-tertiary: #9b3a5a;
    --color-neutral-primary: #afa9a9;
    --color-neutral-secondary: #8f8c8c;
    --color-neutral-tertiary: #8d8585;
}