<!-- Controles de página -->
<div *ngIf="canUserEdit()" class="page-controls">
    <button class="button success" (click)="insertUpdate()">
        <i class="material-symbols-sharp">add_circle</i>
        <span>Agregar</span>
    </button>
</div>

<!-- Filtro de búsqueda -->
<app-panel class="unboxed slim" panelTitle="Búsqueda" contentClass="row" [(open)]="panelOpen" [expandable]="true">
    <app-panel class="col-2 space-x space-y unboxed slim" panelTitle="Doctores">
        <form class="row" (keyup.enter)="list()">
            <app-select
                name="field"
                form="doctorFilter"
                label="Especialidad"
                class="col-2"
                nullOption="Todos"
                [(model)]="filter.doctor.fieldId"
                [options]="fields"
                [option]="{label: 'name', value: 'id', output: 'id'}">
            </app-select>
            <app-input 
                name="code" 
                form="doctorFilter" 
                label="Código"
                class="col-2"
                [type]="InputType.Text" 
                [(model)]="filter.doctor.code"
                [attributes]="{'placeholder': 'E.g.: 1234567890'}">
            </app-input>
            <app-input 
                name="firstName" 
                form="doctorFilter" 
                label="Nombre"
                class="col-2"
                [type]="InputType.Text" 
                [(model)]="filter.doctor.firstName"
                [attributes]="{'placeholder': 'E.g.: John'}">
            </app-input>
            <app-input 
                name="lastName" 
                form="doctorFilter" 
                label="Apellido"
                class="col-2"
                [type]="InputType.Text" 
                [(model)]="filter.doctor.lastName"
                [attributes]="{'placeholder': 'E.g.: Smith'}">
            </app-input>
        </form>
    </app-panel>
    <app-panel class="col-2 space-x space-y unboxed slim" panelTitle="Pacientes">
        <form class="row" (keyup.enter)="list()">
            <app-input 
                name="documentId" 
                form="patientFilter" 
                label="Cédula"
                class="col-3"
                [type]="InputType.Text" 
                [(model)]="filter.patient.documentId"
                [attributes]="{'placeholder': 'E.g.: 123456789'}">
            </app-input>
            <app-input 
                name="firstName" 
                form="patientFilter" 
                label="Nombre"
                class="col-3"
                [type]="InputType.Text" 
                [(model)]="filter.patient.firstName"
                [attributes]="{'placeholder': 'E.g.: John'}">
            </app-input>  
            <app-input 
                name="lastName" 
                form="patientFilter" 
                label="Apellido"
                class="col-3"
                [type]="InputType.Text" 
                [(model)]="filter.patient.lastName"
                [attributes]="{'placeholder': 'E.g.: Smith'}">
            </app-input>
            <app-input 
                name="tel" 
                form="patientFilter" 
                label="Tel"
                class="col-3"
                [type]="InputType.Tel"
                [(model)]="filter.patient.tel"
                [attributes]="{'placeholder': 'E.g.: 12345678'}">
            </app-input>
            <app-input 
                name="email" 
                form="patientFilter" 
                label="Correo"
                class="col-3"
                [type]="InputType.Email"
                [(model)]="filter.patient.email"
                [attributes]="{'placeholder': 'E.g.: john@smith.com'}">
            </app-input>
        </form>
    </app-panel>
    <app-panel class="col-1 space-y unboxed slim" panelTitle="Cita">
        <form class="row" (keyup.enter)="list()">
            <app-date 
                name="dateFrom" 
                form="appointmentFilter" 
                label="Desde"
                class="col-3"
                [type]="DateType.DateTime"
                [(model)]="filter.dateFrom">
            </app-date>
            <app-date 
                name="dateTo" 
                form="appointmentFilter" 
                label="Hasta"
                class="col-3"
                [type]="DateType.DateTime"
                [(model)]="filter.dateTo">
            </app-date>
            <app-select
                name="status"
                form="appointmentFilter"
                label="Estado"
                class="col-3"
                nullOption="Todos"
                [(model)]="filter.statusId"
                [options]="statusses"
                [option]="{label: 'name', value: 'id', output: 'id'}">
            </app-select>
            <app-custom-field
                class="col-1">
                <button class="button success" [disabled]="loading" (click)="list()">
                    <i class="material-symbols-sharp">search</i>
                    <span>Buscar</span>
                </button>
            </app-custom-field>
        </form>
    </app-panel>
</app-panel>

<!--- Tabla de resultados -->
<app-panel class="slim">
    <app-table 
        [headers]="[{ label: 'Fecha', size: 2 },
                    { label: 'Doctor', size: 1.5 },
                    { label: 'Paciente',size: 1.5 },
                    { label: 'Estado' },
                    { size: 2.5 }]" 
        [template]="appointmentRow"
        [source]="appointments"
        [loading]="loading"
        noResultsText="No se han encontrado resultados">
        <ng-template #appointmentRow let-appointment>
            <td class="heading">{{appointment.date.toLocaleDisplayString('es-US')}}</td>
            <td>
                <label>Doctor:</label> 
                <span>{{appointment.doctor.firstName}} {{appointment.doctor.lastName}}</span>
            </td>
            <td>
                <label>Paciente:</label> 
                <span>{{appointment.patient.firstName}} {{appointment.patient.lastName}}</span>
            </td>
            <td>
                <label>Estado:</label> 
                <span>{{appointment.status.name}}</span>
            </td>    
            <td class="buttons">
                <ng-container *ngIf="canUserEdit()">
                    <button class="button success" (click)="insertUpdate(appointment)">
                        <i class="material-symbols-sharp">edit</i>
                        <span>Editar</span>
                    </button>
                    <button class="button danger" (click)="deleteId = appointment.id">
                        <i class="material-symbols-sharp">delete</i>
                        <span>Borrar</span>
                    </button>
                </ng-container>
            </td>
        </ng-template>
    </app-table>
</app-panel>    

<!-- Modal de creación/edición -->
<app-modal
    [(open)]="modalOpen"
    [modalTitle]="modalTitle"
    [position]="ModalPosition.Top"
    [size]="ModalSize.Medium"
    (onClose)="onModalClose()">
    <form *ngIf="appointment" (keyup.enter)="saveAppointment()">
        <ul>
            <li class="validation-message" *ngFor="let message of messages">{{message}}</li>
        </ul>
        <app-date 
            name="date" 
            form="insertUpdate" 
            label="Fecha"
            [type]="DateType.DateTime"
            [(model)]="appointment.date">
        </app-date>
        <app-autocomplete
            name="doctor" 
            form="insertUpdate"
            label="Doctor"
            placeholder="Escriba para buscar doctores..."
            [model]="appointment.doctor"
            (modelChange)="selectDoctor($event)"
            [showSelection]="appointment.doctor.id != null"
            [option]="{label: 'field.name'}"
            [lookupFunction]="getLookupDoctorsFunction()"
            [selectionTemplate]="lookupDoctorSelection"
            [infoTemplate]="lookupDoctorInfo">
            <ng-template #lookupDoctorSelection let-doctor>
                ({{doctor.field.name}}) {{doctor.firstName}} {{doctor.lastName}}
            </ng-template>
            <ng-template #lookupDoctorInfo let-doctor>
                <p><b>{{doctor.firstName}} {{doctor.lastName}}</b></p>
                <p>{{doctor.code}}</p>
            </ng-template>
        </app-autocomplete>
        <app-autocomplete
            name="patient" 
            form="insertUpdate"
            label="Paciente"
            placeholder="Escriba para buscar pacientes..."
            [model]="appointment.patient"
            (modelChange)="selectPatient($event)"
            [showSelection]="appointment.patient.id != null"
            [option]="{label: 'documentId'}"
            [lookupFunction]="getLookupPatientsFunction()"
            [selectionTemplate]="lookupPatientSelection"
            [infoTemplate]="lookupPatientInfo">
            <ng-template #lookupPatientSelection let-patient>
                ({{patient.documentId}}) {{patient.firstName}} {{patient.lastName}}
            </ng-template>
            <ng-template #lookupPatientInfo let-patient>
                <p><b>{{patient.firstName}} {{patient.lastName}}</b></p>
                <p>{{patient.tel}}</p>
                <p>{{patient.email}}</p>
            </ng-template>
        </app-autocomplete>
        <app-select
            name="status"
            form="insertUpdate"
            label="Estado"
            [(model)]="appointment.status"
            [options]="statusses"
            [option]="{label: 'name', value: 'id', compare: 'id'}">
        </app-select>
        <app-custom-field>
            <button class="button success" [disabled]="saving" (click)="saveAppointment()" >
                <span>Guardar</span>
                <i *ngIf="saving" class="material-symbols-sharp rotate">data_saver_off</i>
            </button>
            <button class="button neutral" [disabled]="saving" (click)="modalOpen = false" >Cancelar</button>
        </app-custom-field>
    </form>
</app-modal>

<!-- Modal de confirmación de eliminación -->
<app-modal
    [open]="confirmDelete"
    [transparent]="true"
    [position]="ModalPosition.Top"
    [closeOnClickOutside]="false">
    <p class="prompt-text">Está seguro que desea eliminar este récord?</p>
    <div class="prompt-buttons">
        <button
            class="button danger right"
            [disabled]="saving || !confirmDelete"
            [ngClass]="{'loading': saving || !confirmDelete}"
            (click)="deleteAppointment()">
            Eliminar
            <i *ngIf="saving" class="material-symbols-sharp rotate">data_saver_off</i>
        </button>
        <button class="button neutral right" (click)="deleteId = null">Cancelar</button>
    </div>
</app-modal>