<!-- Controles de página -->
<div class="page-controls">
   <button class="button success" (click)="insertUpdate()">
       <i class="material-symbols-sharp">add_circle</i>
       <span>Agregar</span>
   </button>
</div>

<!-- Filtro de búsqueda -->
<app-panel class="unboxed slim" panelTitle="Búsqueda" [(open)]="panelOpen" [expandable]="true">
   <form class="row" (keyup.enter)="list()">
      <app-input 
         name="email" 
         form="filter" 
         label="Email"
         class="col-4"
         [type]="InputType.Text" 
         [(model)]="filter.email"
         [attributes]="{'placeholder': 'E.g.:john@smith.com'}">
      </app-input>
      <app-input 
         name="firstName" 
         form="filter" 
         label="Nombre"
         class="col-4"
         [type]="InputType.Text" 
         [(model)]="filter.firstName"
         [attributes]="{'placeholder': 'E.g.:John'}">
      </app-input>
      <app-input 
         name="lastName" 
         form="filter" 
         label="Apellido"
         class="col-4"
         [type]="InputType.Text" 
         [(model)]="filter.lastName"
         [attributes]="{'placeholder': 'E.g.:Smith'}">
      </app-input>
      <app-select
         name="role"
         form="filter"
         label="Rol"
         class="col-4"
         nullOption="Todos"
         [(model)]="filter.roleId"
         [options]="roles"
         [option]="{label: 'name', value: 'id', output: 'id'}">
      </app-select>
      <app-custom-field
         class="col-1">
         <button class="button success" [disabled]="loading" (click)="list()">
             <i class="material-symbols-sharp">search</i>
             <span>Buscar</span>
         </button>
     </app-custom-field>
   </form>
</app-panel>

<!--- Tabla de resultados -->
<app-panel class="slim">
   <app-table 
      [headers]="[{ label: 'Email', size: 1.5 },
                  { label: 'Nombre', size: 1.5 },
                  { label: 'Rol' },
                  { size: 2 }]" 
      [template]="userRow"
      [source]="users"
      [loading]="loading"
      noResultsText="No se han encontrado resultados">
      <ng-template #userRow let-user>
         <td class="heading">{{user.email}}</td>
         <td>
            <label>Nombre:</label> 
            <span>{{user.firstName}} {{user.lastName}}</span>
         </td>
         <td>
            <label>Rol:</label>
            <span>{{user.role.name}}</span>
         </td>    
         <td class="buttons">
            <ng-container *ngIf="canUserEdit(user)">
               <button class="button success" (click)="insertUpdate(user)">
                  <i class="material-symbols-sharp">edit</i>
                  <span>Editar</span>
               </button>
               <button class="button danger" (click)="deleteId = user.id">
                  <i class="material-symbols-sharp">delete</i>
                  <span>Borrar</span>
               </button>
            </ng-container>
            <ng-container *ngIf="!canUserEdit(user)">
               <button class="button neutral" disabled title="No puede modificar administradores">
                  <i class="material-symbols-sharp">edit</i>
                  <span>Editar</span>
               </button>
               <button class="button neutral" disabled title="No puede modificar administradores">
                  <i class="material-symbols-sharp">delete</i>
                  <span>Borrar</span>
               </button>
            </ng-container>
         </td>
      </ng-template>
   </app-table>
</app-panel>

<!-- Modal de creación/edición -->
<app-modal
   [(open)]="modalOpen"
   [modalTitle]="modalTitle"
   [position]="ModalPosition.Top"
   [size]="ModalSize.Medium"
   (onClose)="onModalClose()">
   <form *ngIf="user" (keyup.enter)="saveUser()">
      <ul>
         <li *ngIf="user.hasRoles([UserRole.Administrator])" class="alert-message">Asignar el rol de Administrador sobre un usuario hará que no se pueda volver a editar excepto por el administrador del sistema</li>
         <li class="validation-message" *ngFor="let message of messages">{{message}}</li>
      </ul>
      <app-input 
         name="firstName" 
         form="insertUpdate" 
         label="Nombre"
         [type]="InputType.Text" 
         [(model)]="user.firstName"
         [attributes]="{'placeholder': 'E.g.:John'}">
      </app-input>
      <app-input 
         name="lastName" 
         form="insertUpdate" 
         label="Apellido"
         [type]="InputType.Text" 
         [(model)]="user.lastName"
         [attributes]="{'placeholder': 'E.g.:Smith'}">
      </app-input>
      <app-input 
         name="email" 
         form="insertUpdate" 
         label="Email"
         [type]="InputType.Text" 
         [(model)]="user.email"
         [attributes]="{'placeholder': 'E.g.:john@smith.com'}">
      </app-input>
      <app-input
         name="password" 
         form="insertUpdate" 
         label="Contraseña"
         [type]="InputType.Password" 
         [(model)]="password"
         [attributes]="{'placeholder': user.id == null ? 'E.g.:str0ngP4sswOrd!' : 'Ingrese una nueva contraseña si desea cambiarla'}">
      </app-input>
      <app-input
         *ngIf="password" 
         name="password" 
         form="insertUpdate" 
         label="Confirmar Contraseña"
         [type]="InputType.Password" 
         [(model)]="confirmPassword"
         [attributes]="{'placeholder': 'Confirmar contraseña'}">
      </app-input>
      <app-select
         name="role"
         form="insertUpdate"
         label="Rol"
         [(model)]="user.role"
         [options]="roles"
         [option]="{label: 'name', value: 'id', compare: 'id'}">
      </app-select>
      <app-custom-field>
         <button class="button success" [disabled]="!passwordConfirmed || saving || !modalOpen" (click)="saveUser()">
             <span>Guardar</span>
             <i *ngIf="saving" class="material-symbols-sharp rotate">data_saver_off</i>
         </button>
         <button class="button neutral" [disabled]="saving" (click)="modalOpen = false">Cancelar</button>
     </app-custom-field>
   </form>
</app-modal>

<!-- Modal de confirmación de eliminación -->
<app-modal
   [open]="confirmDelete"
   [transparent]="true"
   [position]="ModalPosition.Top"
   [closeOnClickOutside]="false">
   <p class="prompt-text">Eliminar el usuario no puede ser revertido. Está seguro que desea continuar?</p>
   <div class="prompt-buttons">
       <button
           class="button danger"
           [disabled]="saving || !confirmDelete"
           [ngClass]="{'loading': saving || !confirmDelete}"
           (click)="deleteUser()">
           Eliminar
           <i *ngIf="saving" class="material-symbols-sharp rotate">data_saver_off</i>
       </button>
       <button class="button neutral" (click)="deleteId = null">Cancelar</button>
   </div>
</app-modal>