div {
    max-width: 50%;
    display: flex;
    align-items: flex-start;
    color: #fff;
    position: fixed;
    align-items: flex-start;
    border-radius: 0.2rem;
    border: 0.1rem solid;
    padding: 0.8rem 0.8rem 0.8rem 1.2rem;
    animation: slide-in 0.7s ease-out forwards;
    z-index: 100;
}

.close {
    bottom: 1rem;
    animation-name: slide-out;
    animation-timing-function: ease-in;
}

p {
    flex-grow: 1;
    margin: 0;
    font-weight: 200;
    margin-right: 1.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: justify;
}

i {
    flex-grow: 0;
    font-size: 0.8rem;
    font-family: sans-serif;
    border-radius: 5rem;
    padding: 0.6rem 0.7rem 0.4rem;
    cursor: pointer;
    transition: background 0.2s linear;
    background: rgba(0, 0, 0, 0.07);
    display: flex;
}

i:hover{
    background: rgba(0, 0, 0, 0.15);
}

.danger {
    background: var(--color-neutral-primary);
    border-color: var(--color-neutral-secondary);
}

.info {
    background: var(--color-info-primary);
    border-color: var(--color-info-secondary);
}

.success {
    background: var(--color-success-primary);
    border-color: var(--color-success-secondary);
}

.warning {
    background: var(--color-warning-primary);
    border-color: var(--color-warning-secondary);
}

.danger {
    background: var(--color-danger-primary);
    border-color: var(--color-danger-secondary);
}

@media screen and (max-width: 1024px) {
    div {
        max-width: 70%;
    }
}

@media screen and (max-width: 768px) {
    :host {
        padding: 0 2rem;
    }

    div {
        max-width: calc(100% - 2.5rem);
    }
}

@keyframes slide-in {
    0% {
        bottom: -50vh;   
    }

    10% {
        transform: scale(0);
    }

    100% {
        bottom: 1rem;
        transform: scale(1);
    }
}

@keyframes slide-out {
    0% {
        transform: scale(1); 
    }

    10% {
        bottom: 1rem;  
    }

    100% {
        bottom: -50vh;
        transform: scale(0);
    }
}