<table [ngClass]="{'mobile': templateMobile != null}">
    <thead *ngIf="headers.length > 0">
        <tr>
            <th *ngFor="let header of headers" [attr.style]="getHeaderWidth(header.size)">{{header.label}}</th>
        </tr>
    </thead>
    <tbody #items>
        <tr *ngFor="let row of (source | async)">
            <ng-container *ngTemplateOutlet="template; context: {$implicit: row}"></ng-container>
            <td class="mobile">
                <ng-container *ngTemplateOutlet="templateMobile; context: {$implicit: row}"></ng-container>
            </td>
        </tr>
        <tr *ngIf="(source | async)?.length == 0" class="no-results">
            <td [attr.colspan]="headers.length">{{noResultsText}}</td>
            <td class="mobile">{{noResultsText}}</td>
        </tr>
    </tbody>
</table>