table {
    width: 100%;
    table-layout: fixed;
}

::ng-deep td {
    padding: 0.5rem;
}

th {
    text-align: left;
    font-weight: 700;
    padding: 0.8rem 0.5rem;
}

tbody tr:nth-child(odd) {
    background: var(--color-table-nth-child-background);
}

td.mobile {
    display: none;
    padding: 1rem;
}

tr.no-results td.mobile {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    thead {
        display: none;
    }

    table.mobile ::ng-deep td {
        display: none;
    }

    table.mobile td.mobile {
        display: block;
    }
}