@import './assets/css/theme.css';
@import './assets/css/reset.css';
@import './assets/css/columns.css';
@import './assets/css/button.css';

html {
    font-size: 10px;
    height: 100%;
}

body {
    font-size: 1.4rem;
    height: 100%;
    overflow: hidden;
    background: var(--color-background);
    font-family: var(--font-main);
    color: var(--color-text);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}

.no-selection {
    user-select: none;
}

.mobile-row h3{
    margin-bottom: 1rem;
}

.mobile-row p {
    font-size: 1.5rem;
}

.mobile-row div {
    margin-top: 1rem;
}

.mobile-row .label {
    font-weight: 700;
    margin-right: 0.5rem;
}

.table-buttons {
    text-align: right;
}

.material-icons {
    vertical-align: bottom;
    font-size: 2rem;
    margin-left: 0.2rem;
}