<!-- Formulario de actualización -->
<app-panel *ngIf="user" panelTitle="Actualizar Información">
   <form (keyup.enter)="confirmSave()">
      <ul>
         <li class="validation-message" *ngFor="let message of messages">{{message}}</li>
      </ul>
      <div class="row">
         <app-input 
            name="firstName" 
            form="insertUpdate" 
            label="Nombre"
            class="col-3"
            [type]="InputType.Text" 
            [(model)]="user.firstName"
            [attributes]="{'placeholder': 'E.g.:John'}">
         </app-input>
         <app-input 
            name="lastName" 
            form="insertUpdate" 
            label="Apellido"
            class="col-3"
            [type]="InputType.Text" 
            [(model)]="user.lastName"
            [attributes]="{'placeholder': 'E.g.:Smith'}">
         </app-input>
         <app-input 
            name="email" 
            form="insertUpdate" 
            label="Correo"
            class="col-3"
            [type]="InputType.Email" 
            [(model)]="user.email"
            [attributes]="{'placeholder': 'E.g.:john.smith@mail.com'}">
         </app-input>
         <app-input 
            name="password" 
            form="insertUpdate" 
            label="Nueva Contraseña"
            class="col-3"
            [type]="InputType.Password" 
            [(model)]="password"
            [attributes]="{'placeholder': 'Ingrese una nueva contraseña si desea cambiarla'}">
         </app-input>
         <app-input 
            *ngIf="password"
            name="confirmPassword" 
            form="insertUpdate" 
            label="Confirmar Contraseña"
            class="col-3"
            [type]="InputType.Password" 
            [(model)]="confirmPassword"
            [attributes]="{'placeholder': 'Confirmar nueva contraseña'}">
         </app-input>
      </div>
      <app-button 
         [type]="ButtonType.Success"
         [disabled]="saving || !passwordConfirmed"
         (clicked)="confirmSave()">
         Guardar 
      </app-button>
   </form>
</app-panel>

<!-- Modal de confirmación de cambios de credenciales -->
<app-modal
   [open]="confirmOpen"
   [transparent]="true"
   [position]="ModalPosition.Top"
   [size]="ModalSize.Medium"
   [closeOnClickOutside]="false">
   <p class="prompt-text">Cambiar el correo y/o contraseña cerrará todas las sesiones activas y deberá volver a ingresar. Desea continuar?</p>
   <div class="prompt-buttons">
      <button
            class="button success"
            [disabled]="saving || !confirmOpen"
            [ngClass]="{'loading': saving || !confirmOpen}"
            (click)="saveChanges()">
            Guardar
            <i *ngIf="saving" class="material-symbols-sharp rotate">data_saver_off</i>
      </button>
      <button class="button neutral" (click)="confirmOpen = false">Cancelar</button>
   </div>
</app-modal>

