<!-- Formulario de actualización -->
<app-panel *ngIf="user" panelTitle="Actualizar Información">
   <form (keyup.enter)="saveUser()">
      <ul>
         <li class="validation-message" *ngFor="let message of messages">{{message}}</li>
      </ul>
      <div class="row">
         <app-input 
            name="firstName" 
            form="insertUpdate" 
            label="Nombre"
            class="col-3"
            [type]="InputType.Text" 
            [(model)]="user.firstName"
            [attributes]="{'placeholder': 'E.g.:John'}">
         </app-input>
         <app-input 
            name="lastName" 
            form="insertUpdate" 
            label="Apellido"
            class="col-3"
            [type]="InputType.Text" 
            [(model)]="user.lastName"
            [attributes]="{'placeholder': 'E.g.:Smith'}">
         </app-input>
         <app-input 
            name="email" 
            form="insertUpdate" 
            label="Correo"
            class="col-3"
            [type]="InputType.Email" 
            [(model)]="user.email"
            [attributes]="{'placeholder': 'E.g.:john.smith@mail.com'}">
         </app-input>
         <app-input 
            name="password" 
            form="insertUpdate" 
            label="Nueva Contraseña"
            class="col-3"
            [type]="InputType.Password" 
            [(model)]="password"
            [attributes]="{'placeholder': 'Ingrese una nueva contraseña si desea cambiarla'}">
         </app-input>
         <app-input 
            *ngIf="password"
            name="confirmPassword" 
            form="insertUpdate" 
            label="Confirmar Contraseña"
            class="col-3"
            [type]="InputType.Password" 
            [(model)]="confirmPassword"
            [attributes]="{'placeholder': 'Confirmar nueva contraseña'}">
         </app-input>
      </div>
      <app-custom-field>
         <button class="button success" [disabled]="saving || !passwordConfirmed" (click)="saveUser()">
            <span>Guardar</span>
            <i *ngIf="saving" class="material-symbols-sharp rotate">data_saver_off</i>
         </button>
      </app-custom-field>
   </form>
</app-panel>

