<app-panel>
    <main>
        <figure>
            <img src="/assets/img/code-minds.png" alt="Code Minds" />
        </figure>
        <form>
            <app-input 
                name="username" 
                form="login" 
                label="Usuario"
                [type]="InputType.Text" 
                [(model)]="username"
                [attributes]="{'placeholder': 'E.g.:jsmith'}"
            ></app-input>
            <app-input 
                name="password" 
                form="login" 
                label="Contrase&ntilde;a"
                [type]="InputType.Password" 
                [(model)]="password"
                [attributes]="{'placeholder': 'E.g.:P@ssw0rd123'}"
            ></app-input>
            <app-button [type]="ButtonType.Success" [disabled]="loading" [loading]="loading">Ingresar <i *ngIf="loading" class="material-icons-sharp rotate">data_saver_off</i></app-button>
        </form>
    </main>
</app-panel>