<app-panel>
    <main>
        <figure>
            <img src="/assets/img/code-minds.png" alt="Code Minds" />
        </figure>
        <form (keyup.enter)="login()">
            <ul>
                <li class="validation-message" *ngFor="let message of messages">{{message}}</li>
            </ul>
            <app-input 
                name="username" 
                form="login" 
                label="Usuario"
                [type]="InputType.Text" 
                [(model)]="username"
                [attributes]="{'placeholder': 'E.g.:jsmith'}"
            ></app-input>
            <app-input 
                name="password" 
                form="login" 
                label="Contrase&ntilde;a"
                [type]="InputType.Password" 
                [(model)]="password"
                [attributes]="{'placeholder': 'E.g.:P@ssw0rd123'}"
            ></app-input>
            <app-custom-field>
                <button class="button success" [disabled]="loading" (click)="login()">
                    <span>Ingresar</span> 
                    <i *ngIf="loading" class="material-symbols-sharp rotate">data_saver_off</i>
                </button>
            </app-custom-field>
        </form>
    </main>
</app-panel>