.navbar {
    background: var(--color-navbar);
    padding: 0.5rem;
    box-shadow: 0 0 0.8rem -0.4rem var(--color-shadow-dark);
}

.navbar .menu {
    display: none;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: none;
    background: none;
    border: none;
    border-radius: 5rem;
    padding: 0.8rem 1.6rem;
    margin: 0 0.2rem;
    vertical-align: middle;
    transition: background-color 0.2s linear;
}

.navbar .menu:hover {
    background: var(--color-navbar-menu-hover);
}

.navbar figure {
    display: inline-block;
    vertical-align: middle;
    height: 6rem;
}

.navbar figure img {
    max-height: 100%;
    width: auto;
    vertical-align: middle;
}

.wrapper {
    /* Restamos el alto del navbar acorde al elemento de mayor altura
    y sumamos el padding vertical para calzar con la pantalla de manera perfecta */
    height: calc(100% - 7rem);
}

.wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.sidenav {
    float: left;
    width: 25rem;
    height: 100%;
    background: var(--color-sidenav);
    color: var(--color-sidenav-text);
    overflow: auto;
    box-shadow: 0.1rem 0.1rem 0.3rem 0 var(--color-shadow-dark);
}

.sidenav .category {
    font-size: 2.2rem;
    padding: 1.5rem 1rem;
    font-weight: 300;
    background: var(--color-sidenav-category);
}

.sidenav .menu li {
    font-size: 1.6rem;
    font-weight: 300;
    transition: background-color 0.1s linear;
}

.sidenav .menu li:hover,
.sidenav .menu li.active {
    background: var(--color-sidenav-active);
    border-right: 0.4rem solid var(--color-main)
}

.sidenav .menu a {
    text-decoration: none;
    display: block;
    padding: 1.2rem;
}

.sidenav .menu a::before {
    /* Caracter: ◆ */
    content: '\25C6';
    font-size: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

.sidenav .menu a span {
    vertical-align: middle;
}

main {
    float: left;
    width: calc(100% - 25rem);
    height: 100%;
    overflow: auto;
    padding: 2rem;
}

@media screen and (max-width: 1024px) {

    /* Recalculamos en pantallas móviles ya que cambian los elementos
    que mostramos en el navbar */
    .wrapper {
        height: calc(100% - 5.4rem);
        position: relative;
    }

    .navbar .menu {
        display: inline-block;
    }

    .navbar figure {
        height: 3rem;
        margin-left: 0.5rem;
    }

    /* En el diseño móvil el menú lateral se vuelve desplegable para dar 
    campo al contenido principal debido al espacio menor en pantalla */
    .sidenav {
        position: absolute;
        top: 0;
        left: -80%;
        z-index: 90;
        width: 80%;
        max-width: 25rem;
        transition: left 0.6s ease-in;
    }

    .sidenav.open {
        left: 0;
        transition: left 0.6s ease-out;
    }

    main {
        width: 100%;
    }
}