<div>
    <button class="button neutral" (click)="open = !open">toggle</button>
    <button class="button success" (click)="modal1Open = true">Open 1</button>
    <button class="button success" (click)="modal2Open = true">Open 2</button>
    <app-panel panelTitle="Filter" contentClass="row"  [expandable]="true" [open]="open">
        <app-panel panelTitle="Doctores" class="col-2 space-x flat slim">
            <form>
                <app-input 
                    name="name" 
                    form="filter" 
                    label="Name"
                    [type]="InputType.Text" 
                    [(model)]="name"
                    [attributes]="{'placeholder': 'John'}"
                ></app-input>
                <app-textarea 
                    name="name" 
                    form="filter" 
                    label="Name"
                    [(model)]="name"
                    placeholder="John"
                ></app-textarea>
                <app-check
                    name="name" 
                    form="filter" 
                    label="Name"
                    [(model)]="check"
                ></app-check>
                <app-select
                    name="gender"
                    form="filter"
                    label="Gender"
                    [(model)]="gender"
                    [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                    [hasAll]="true"
                ></app-select>
                <app-radio
                    name="gender"
                    form="filter"
                    label="Gender"
                    (modelChange)="gender = $event"
                    [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                    [hasAll]="true"
                    [inline]="true"
                ></app-radio>
                <p *ngIf="name">{{name}}</p>
            </form>
        </app-panel>
        <app-panel panelTitle="Pacientes" class="col-2 space-x flat slim">
            <form class="row">
                <app-input 
                    class="col col-2"
                    name="name" 
                    form="filter" 
                    label="Name"
                    [type]="InputType.Text" 
                    [(model)]="name"
                    [attributes]="{'placeholder': 'John'}"
                ></app-input>
                <app-select
                    class="col col-2"
                    name="gender"
                    form="filter"
                    label="Gender"
                    [(model)]="gender"
                    [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                    [hasAll]="true"
                ></app-select>
                <app-textarea 
                    class="col col-1"
                    name="name" 
                    form="filter" 
                    label="Name"
                    [(model)]="name"
                    placeholder="John"
                ></app-textarea>
                <app-check
                    class="col col-1"
                    name="a" 
                    form="filter" 
                    label="Name"
                    [(model)]="check"
                ></app-check>
                <app-radio
                    class="col col-1"
                    name="gender"
                    form="filter"
                    label="Gender"
                    (modelChange)="gender = $event"
                    [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                    [hasAll]="true"
                ></app-radio>
            </form>
        </app-panel>
    </app-panel>
    <app-panel panelTitle="Test">
        <form>
            <app-input 
                name="name" 
                form="filter" 
                label="Name"
                [type]="InputType.Text" 
                [(model)]="name"
                [attributes]="{'placeholder': 'John'}"
            ></app-input>
            <app-textarea 
                name="name" 
                form="filter" 
                label="Name"
                [(model)]="name"
                placeholder="John"
            ></app-textarea>
            <app-check
                name="name" 
                form="filter" 
                label="Name"
                [(model)]="check"
            ></app-check>
            <app-select
                name="gender"
                form="filter"
                label="Gender"
                [(model)]="gender"
                [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                [hasAll]="true"
            ></app-select>
            <app-radio
                name="gender"
                form="filter"
                label="Gender"
                (modelChange)="gender = $event"
                [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                [hasAll]="true"
                [inline]="true"
            ></app-radio>
        </form>
    </app-panel>
    <app-modal [(open)]="modal1Open" modalTitle="Modal 1" [size]="ModalSize.Medium" [transparent]="true">
        <app-panel panelTitle="Filter" contentClass="row" [expandable]="true" [open]="open">
            <app-panel panelTitle="Doctores" class="col col-2 space-x flat slim">
                <form>
                    <app-input 
                        name="name" 
                        form="filter" 
                        label="Name"
                        [type]="InputType.Text" 
                        [(model)]="name"
                        [attributes]="{'placeholder': 'John'}"
                    ></app-input>
                    <app-textarea 
                        name="name" 
                        form="filter" 
                        label="Name"
                        [(model)]="name"
                        placeholder="John"
                    ></app-textarea>
                    <app-check
                        name="name" 
                        form="filter" 
                        label="Name"
                        [(model)]="check"
                    ></app-check>
                    <app-select
                        name="gender"
                        form="filter"
                        label="Gender"
                        [(model)]="gender"
                        [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                        [hasAll]="true"
                    ></app-select>
                    <app-radio
                        name="gender"
                        form="filter"
                        label="Gender"
                        (modelChange)="gender = $event"
                        [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                        [hasAll]="true"
                        [inline]="true"
                    ></app-radio>
                    <p *ngIf="name">{{name}}</p>
                </form>
            </app-panel>
            <app-panel panelTitle="Pacientes" class="col col-2 space-x flat slim">
                <form class="row">
                    <app-input 
                        class="col col-2"
                        name="name" 
                        form="filter" 
                        label="Name"
                        [type]="InputType.Text" 
                        [(model)]="name"
                        [attributes]="{'placeholder': 'John'}"
                    ></app-input>
                    <app-select
                        class="col col-2"
                        name="gender"
                        form="filter"
                        label="Gender"
                        [(model)]="gender"
                        [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                        [hasAll]="true"
                    ></app-select>
                    <app-textarea 
                        name="name" 
                        form="filter" 
                        label="Name"
                        [(model)]="name"
                        placeholder="John"
                    ></app-textarea>
                    <app-check
                        name="name" 
                        form="filter" 
                        label="Name"
                        [(model)]="check"
                    ></app-check>
                    <app-radio
                        name="gender"
                        form="filter"
                        label="Gender"
                        (modelChange)="gender = $event"
                        [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                        [hasAll]="true"
                        [inline]="true"
                    ></app-radio>
                </form>
            </app-panel>
        </app-panel>
    </app-modal>
    <app-modal [(open)]="modal2Open" modalTitle="Modal 2" [size]="ModalSize.Small">
        <form>
            <app-input 
                name="name" 
                form="filter" 
                label="Name"
                [type]="InputType.Text" 
                [(model)]="name"
                [attributes]="{'placeholder': 'John'}"
            ></app-input>
            <app-textarea 
                name="name" 
                form="filter" 
                label="Name"
                [(model)]="name"
                placeholder="John"
            ></app-textarea>
            <app-check
                name="name" 
                form="filter" 
                label="Name"
                [(model)]="check"
            ></app-check>
            <app-select
                name="gender"
                form="filter"
                label="Gender"
                [(model)]="gender"
                [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                [hasAll]="true"
            ></app-select>
            <app-radio
                name="gender"
                form="filter"
                label="Gender"
                (modelChange)="gender = $event"
                [options]="[{label: 'Female', value: false}, {label: 'Male', value: true}]"
                [hasAll]="true"
                [inline]="true"
            ></app-radio>
            <div class="row">
                <app-button [type]="ButtonType.Success" (clicked)="modal2Open = false">Save</app-button>
                <app-button [type]="ButtonType.Danger" (clicked)="modal2Open = false">Cancel</app-button>
            </div>
        </form>
    </app-modal>
</div>


<p>Value of Name: {{name == null ? 'null' : name}}</p>
<p>Value of Check: {{check}}</p>
<p>Value of Gender: {{gender == null ? 'null' : gender}}</p>