
<!-- Controles de página -->
<div class="controls">
    <button title="Agregar" class="button success" (click)="createUpdate()">
        <i class="material-icons">person_add</i>
        <span>Agregar</span>
    </button>
</div>

<!-- Filtro de búsqueda -->
<app-panel class="unboxed slim" panelTitle="Búsqueda" [expandable]="true">
    <form class="row" (keyup.enter)="list()">
        <app-select
            name="field"
            form="filter"
            label="Especialidad"
            class="col-4"
            nullOption="Todos"
            [(model)]="filter.fieldId"
            [options]="$fields | async"
            [option]="{label: 'name', value: 'id'}"
        ></app-select>
        <app-input 
            name="documentId" 
            form="filter" 
            label="Cédula"
            class="col-4"
            [type]="InputType.Text" 
            [(model)]="filter.documentId"
            [attributes]="{'placeholder': '123456789'}"
        ></app-input>
        <app-input 
            name="firstName" 
            form="filter" 
            label="Nombre"
            class="col-4"
            [type]="InputType.Text" 
            [(model)]="filter.firstName"
            [attributes]="{'placeholder': 'John'}"
        ></app-input>
        <app-input 
            name="lastName" 
            form="filter" 
            label="Apellido"
            class="col-4"
            [type]="InputType.Text" 
            [(model)]="filter.lastName"
            [attributes]="{'placeholder': 'Smith'}"
        ></app-input>
        <app-button [type]="ButtonType.Success" (clicked)="list()">
            <i class="material-icons">search</i>
            <span>Buscar</span>
        </app-button>
    </form>
</app-panel>

<!--- Tabla de resultados -->
<app-panel class="slim">
    <app-table 
        [headers]="[{ label: 'Especialidad' },
                    { label: 'Cédula' },
                    { label: 'Nombre', size: 2 },
                    { size: 2.5 }]" 
        [template]="doctorRow" 
        [template-mobile]="doctorRowMobile" 
        [source]="$doctors | async"
        [loading]="loading"
        no-results-text="No se han encontrado resultados">
        <ng-template #doctorRow let-doctor>
            <td>{{doctor.field.name}}</td>
            <td>{{doctor.documentId}}</td>
            <td>{{doctor.firstName}} {{doctor.lastName}}</td>    
            <td class="table-buttons">
                <button class="button success" title="Editar" (click)="createUpdate(doctor)">
                    <i class="material-icons">edit</i>
                    <span>Editar</span>
                </button>
                <button class="button danger" title="Borrar" (click)="deleteDoctor(doctor.id)">
                    <i class="material-icons">delete</i>
                    <span>Borrar</span>
                </button>
            </td>
        </ng-template>
        <ng-template #doctorRowMobile let-doctor>
            <div class="mobile-row">
                <h3>{{doctor.field.name}}</h3>
                <p>
                    <span class="label">Cédula:</span> {{doctor.documentId}}
                </p>
                <p>
                    <span class="label">Nombre:</span> {{doctor.firstName}} {{doctor.lastName}}
                </p>
                <div>
                    <button class="button success" title="Editar" (click)="createUpdate(doctor)">
                        <i class="material-icons">edit</i>
                        <span>Editar</span>
                    </button>
                    <button class="button danger" title="Borrar" (click)="deleteDoctor(doctor.id)">
                        <i class="material-icons">delete</i>
                        <span>Borrar</span>
                    </button>
                </div>
            </div>
        </ng-template>
    </app-table>
</app-panel>

<!-- Modal de creación/edición -->
<app-modal [(open)]="modalOpen" modalTitle="Modal" [size]="ModalSize.Medium" (onClose)="onModalClose()">
    <form *ngIf="doctor" (keyup.enter)="save()">
        <ul class="messages">
            <li *ngFor="let message of messages">{{message}}</li>
        </ul>
        <app-select
            name="field"
            form="createUpdate"
            label="Especialidad"
            [(model)]="doctor.field"
            [options]="$fields | async"
            [option]="{label: 'name'}"
        ></app-select>
        <app-input 
            name="documentId" 
            form="createUpdate" 
            label="Cédula"
            [type]="InputType.Text" 
            [(model)]="doctor.documentId"
            [attributes]="{'placeholder': '123456789'}"
        ></app-input>
        <app-input 
            name="firstName" 
            form="createUpdate" 
            label="Nombre"
            [type]="InputType.Text" 
            [(model)]="doctor.firstName"
            [attributes]="{'placeholder': 'John'}"
        ></app-input>
        <app-input 
            name="lastName" 
            form="createUpdate" 
            label="Apellido"
            [type]="InputType.Text" 
            [(model)]="doctor.lastName"
            [attributes]="{'placeholder': 'Smith'}"
        ></app-input>
        <div class="row">
            <app-button [type]="ButtonType.Success" (clicked)="save()" [disabled]="saving || !modalOpen" [buttonClass]="{'loading': saving}">Guardar <i *ngIf="saving" class="material-icons rotate">data_saver_off</i></app-button>
            <app-button [type]="ButtonType.Danger" (clicked)="modalOpen = false">Cancelar</app-button>
        </div>
    </form>
</app-modal>

<!-- Modal de confirmación -->
<app-modal [(open)]="confirmOpen" [transparent]="true" [position]="ModalPosition.Top" [closeOnClickOutside]="false" (onClose)="onConfirmClose()">
    <p class="confirm-text">{{confirmText}}</p>
    <div class="confirm-buttons">
        <button class="button success" (click)="confirm(true)" [disabled]="saving || !confirmOpen" [ngClass]="{'loading': saving}">Confirmar <i *ngIf="saving" class="material-icons rotate">data_saver_off</i></button>
        <button class="button neutral" (click)="confirm(false)">Cancelar</button>
    </div>
</app-modal>