li {
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(255, 255, 255, 0.2);
    color: inherit;
    min-width: 17rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

li.selected, li:hover {
    background: rgba(255, 255, 255, 0.7);
}

li h5 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
    border-bottom: solid 0.1rem var(--color-form-field-input);
}

.selection {
    position: relative;
}

.selection .hidden {
    display: none;
}

.selection > div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background: rgb(220 220 220 / 20%);
    cursor: pointer;
}

ul {
    position: fixed;
    margin-top: 0.5rem;
    background: var(--color-background);
}