<div class="form-field">
    <label *ngIf="label" [for]="id">{{label}}</label>
    <input 
        #input 
        type="text" 
        [id]="id" 
        [name]="name" 
        [(ngModel)]="search"
        (input)="lookup()" 
        (keyup.arrowdown)="increaseIndex()" 
        (keyup.arrowup)="decreaseIndex()"
        (keyup.enter)="selectOption()"
        (keyup.tab)="selectOption()"
        (blur)="clearResults()"
        (focus)="focus()" />
    <ul>
        <li *ngFor="let item of results; let i = index" [ngClass]="{'selected': i == selectedIndex}" (click)="selectIndex(i)">
            <h5>{{getProperty(item, option.label)}}</h5>
            <ng-container *ngTemplateOutlet="infoTemplate; context: {$implicit: item}"></ng-container>
        </li>
    </ul>
</div>
