.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;    
    scrollbar-color: var(--color-scrollbar-dark) var(--color-scrollbar-dark);
    scrollbar-width: thin;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: -1;
    opacity: 0;
    flex-wrap: wrap;
    transition: opacity 0.3s ease-out, z-index 0.3s ease-out;
}

.modal.transparent {
    background: none;
}

.modal::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-dark);
}

.modal::-webkit-scrollbar {
    width: 0.7rem;
    background: var(--color-scrollbar-dark);
}

.modal.open {
    z-index: 100;
    opacity: 1;
}

.modal .content {
    width: 90%;
    background: var(--color-modal-content-background);
    padding: 1rem;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--color-modal-content-border);
    box-shadow: 0.2rem 0.2rem 0.6rem -0.3rem var(--color-shadow-light);
}

.modal.small .content {
    width: min(40rem, 95%);
}

.modal.medium .content {
    width: min(70rem, 95%);
}

.modal.large .content {
    width: min(100rem, 95%);
}