.form-field {
   padding: 0.7rem;
}

.form-field ::placeholder {
   color: var(--color-placeholder);
}

.form-field>label {
   display: inline-block;
   font-weight: 700;
   cursor: pointer;
   margin-bottom: 0.5rem;
   font-size: inherit;
}

.form-field input:not([type="radio"]):not([type="checkbox"]),
.form-field select,
.form-field textarea {
   display: inline-block;
   font-size: inherit;
   padding: 0.5rem;
   width: 100%;
   outline: 0;
   border: 0.1rem solid var(--color-form-field-border);
   border-radius: 0.2rem;
   background: rgba(255, 255, 255, 0.4);
   color: inherit;
}

/* Arreglo por comportamiento inusual de tamaño del datepicker y select */
.form-field input[type="datetime-local"]:not([type="radio"]):not([type="checkbox"]) {
   padding: 0.35rem 0.5rem;
}

.form-field select {
   padding: 0.4rem 0.5rem;
}

.form-field select option {
   background: var(--color-form-field-option);
}

.form-field textarea {
   resize: none;
   min-height: 15rem;
}

.form-field input:not([type="radio"]):not([type="checkbox"]):focus,
.form-field select:focus,
.form-field textarea:focus {
   border-color: var(--color-form-field-focus);
}

.form-field label.check {
   display: block;
   cursor: pointer;
}

.form-field label.check.inline {
   display: inline-block;
   margin-right: 1.2rem;
}

.form-field label.check:not(:last-child) {
   margin-bottom: 0.4rem;
}

.form-field label.check i {
   display: inline-block;
   cursor: pointer;
   width: 1.7rem;
   height: 1.7rem;
   border: 0.1rem solid var(--color-form-field-border);
   border-radius: 0.2rem;
   background: rgba(255, 255, 255, 0.4);
   vertical-align: middle;
   margin-right: 0.3rem;
}

.form-field label.check input:checked+i {
   background: var(--color-main);
}

.form-field label.check span {
   vertical-align: middle;
}

.form-field label.check input {
   display: none;
}

.form-field .errors li {
   margin-bottom: 0.2rem;
   padding: 0.5rem;
   background: var(--color-danger-primary);
   border: 0.1rem solid var(--color-danger-secondary);
   border-radius: 0.2rem;
   color: #fff;
}

@media screen and (max-width: 768px) {
   .form-field label.check.inline {
      display: block;
      margin-right: 0;
   }
}
