/* STRUCTURE */
html{
    font-size: 10px;
    height: 100%;
}

body{
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    height: 100%;
    overflow: hidden;
    color: #292929;
}



h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2{
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

h3{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

p{
    margin-bottom: 0.5rem;
}

/* LAYOUT */
.navbar{
    background: #e8e8e8;
    padding: 5px;
    box-shadow: 0px 0px 8px -4px #1d1d1d;
}

.navbar figure{
    width: 70px;
    display: inline-block;
    vertical-align: middle;
}

.navbar .menu{
    display: none;
    vertical-align: unset;
    font-size: 2rem;
    margin: 0 15px;
    font-family: none;
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    transition: background linear 0.2s;
    background: none;
}

.navbar .menu:hover{
    background: rgba(0, 0, 0, 0.1)
}

.wrapper{
    height: calc(100% - 71px);
}

.sidenav{
    float: left;
    width: 250px;
    height: 100%;
    background: #292929;
    box-shadow: 1px 1px 3px 0px #1d1d1d;
    color: #fff;
    padding: 10px;
    overflow: auto;
    scrollbar-color: rgba(255,255,255,0.1) rgba(255,255,255,0.1);
    scrollbar-width: thin;
}

.sidenav::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,0.1);
}

.sidenav::-webkit-scrollbar {
    background: rgba(255,255,255,0.1);
    width: 1rem;
}

.sidenav .category{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #afafaf;
}

.sidenav .menu{
    margin-left: 3px;
    margin-bottom: 3rem;
}

.sidenav .menu li{
    font-size: 2rem;
    margin: 4px 4px 6px 4px;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 0.2s linear;
    border-bottom: 1px solid #363636;
}

.sidenav .menu li:hover, .sidenav .menu li.active{
    box-shadow: 4px 4px 0px -1px #5ccdcc;
}

.sidenav .menu a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
}

main{
    float: left;
    width: calc(100% - 250px);
    overflow: auto;
    padding: 20px;
    height: 100%;
}

.clear::after{
    clear: both;
    display: block;
    content: '';
}

p a{
    color: #5ba1b6;
}

.lock{
    overflow: hidden;
}

@media screen and (max-width: 1024px){
    .wrapper{
        position: relative;
    }

    .navbar figure{
        width: 60px;
        margin: 5px;
    }

    .navbar .menu{
        display: inline-block;
    }

    .sidenav{
        position: absolute;
        top: 0;
        left: -80%;
        max-width: 250px;
        z-index: 100;
        padding: 10px;
        width: 80%;
        transition: left ease-in 0.6s;
    }

    .sidenav.open{
        left: 0px;
        transition: left ease-out 0.6s;        
    }

    main{
        width: 100%;
    }
}