.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;    
    scrollbar-color: var(--color-scrollbar-dark) var(--color-scrollbar-dark);
    scrollbar-width: thin;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    flex-wrap: wrap;
}

.modal::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-dark);
}

.modal::-webkit-scrollbar {
    width: 0.7rem;
    background: var(--color-scrollbar-dark);
}

.modal.open {
    display: flex;
}

.modal .modal-content {
    width: 90%;
    background: var(--color-modal-content-background);
    padding: 10px;
    border-radius: 2px;
    border: 1px solid var(--color-modal-content-border);
    box-shadow: 2px 2px 6px -3px var(--color-shadow-light);
}

.modal.small .modal-content {
    width: min(400px, 95%);
}

.modal.medium .modal-content {
    width: min(700px, 95%);
}

.modal.large .modal-content {
    width: min(1000px, 95%);
}