<div class="form-field">
    <label *ngIf="label" [for]="id">{{label}}</label>
    <select
        #select 
        [id]="id" 
        [name]="name" 
        [(ngModel)]="selectedIndex" 
        (ngModelChange)="onModelChange($event)"
        (mousedown)="handleClickEvent($event, !open)"
        (keydown.enter)="handleSelectEvent($event, !open)"
        (keydown.space)="handleSelectEvent($event, !open)"
        (keydown.escape)="toggle(false)"
        (keydown.tab)="toggle(false)"
    >
        <option *ngIf="nullOption != null" [ngValue]="null">{{nullOption}}</option>
        <option *ngFor="let item of options; let i = index" [ngValue]="i">{{getProperty(item, option.label)}}</option>
    </select>
    <div class="options">
        <ul #dropdown *ngIf="open" [attr.style]="style">
            <li *ngIf="nullOption != null" [ngClass]="{'selected': selectedIndex == null}" (mousedown)="$event.preventDefault()" (click)="selectOption($event, null)">
                <h5>{{nullOption}}</h5>
            </li>
            <li *ngFor="let item of options; let i = index" [ngClass]="{'selected': i == selectedIndex}" (mousedown)="$event.preventDefault()" (click)="selectOption($event, i)">
                <h5 [ngClass]="{title: infoTemplate != null}">{{getProperty(item, option.label)}}</h5>
                <ng-container *ngTemplateOutlet="infoTemplate; context: {$implicit: item}"></ng-container>
            </li>
        </ul>
    </div>
</div>
